body{background-color: rgb(43, 226, 171);}
.pictures{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: unset;
}
.pictures{
    display: flex;
    justify-content: right;
}

h1{
    text-align: center;
}